<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwConfigExceptions="true"
  internalLogLevel="Off"
>
  <extensions>
    <add assembly="NLog.Windows.Forms" />
  </extensions>
  <!--所有日志信息记录到RichTextBox中，不输出至文件或控制台-->
  <targets async="true">
    <!--全局日志记录器-->
    <target
      xsi:type="RichTextBox"
      name="syswideTarget"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
    />
    <!--诊断信息-->
    <target
      xsi:type="RichTextBox"
      name="diagnosticTarget"
      formName="MainForm"
      controlName="SysDiagnosticRTB"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
      autoScroll="true"
      maxLines="100"
      allowAccessoryFormCreation="true"
    />
    <!--接收报文-->
    <target
      xsi:type="RichTextBox"
      name="receiveTarget"
      formName="MainForm"
      controlName="RecvMsgRTB"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
      autoScroll="true"
      maxLines="100"
      allowAccessoryFormCreation="true"
    />
    <!--发送报文-->
    <target
      xsi:type="RichTextBox"
      name="sendTarget"
      formName="MainForm"
      controlName="SendMsgRTB"
      layout="${longdate}|${level:uppercase=true}|${message:withexception=true}"
      autoScroll="true"
      maxLines="100"
      allowAccessoryFormCreation="true"
    />
  </targets>

  <!--路由规则：按 Logger 名称分发-->
  <rules>
    <logger name="SysWideLogger" minlevel="Trace" writeTo="syswideTarget" />
    <logger name="DiagnosticLogger" minlevel="Trace" writeTo="diagnosticTarget" />
    <logger name="ReceiveLogger" minlevel="Trace" writeTo="receiveTarget" />
    <logger name="SendLogger" minlevel="Trace" writeTo="sendTarget" />
  </rules>
</nlog>
